<header>
  <body>
      <ul>
          <li><%= link_to 'ログアウト', index_home_path %></li>
          <li><%= link_to 'ツイート検索画面', top_tweets_path %></li>
      </ul>
  </body>
</header>

<h1>お気に入りツイート一覧</h1>
<p>×ボタンでお気に入りから削除します。</p>

<% if @likes.present? %>
    <%= form_tag(destroy_likes_path, method: :post) do %>
    <table border="1">
    <tbody>
        <% @likes.each do |like| %>
            <tr>
                <td><%= like.liketweet %></td>
                <td><button type="submit" name= "liketweet" value= "<%= like.liketweet %>"><i class="material-icons red">clear</i></button></td>
            </tr>
        <% end %>
    </tbody>
    <%= paginate @likes %>
    </table>
    <% end %>
<% else %>
    <p>お気に入りツイートが存在しません</p>
<% end %>

